/**********************************************
 GENERAL
**********************************************/
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
html {
    font: normal 16px sans-serif;
    color: #555555;
}
nav {
    list-style: none;
}
a {
    text-decoration: none;
    opacity: 0.75;
}
a:hover {
    opacity: 1;
}
a.btn {
    border-radius: 4px;
    background-color: #CF7D3E;
    font-weight: bold;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
}
section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 100px 80px;

}

/**********************************************
 HEADER
**********************************************/
header {
    align-items: center;
    animation: 1s fadein 0.5s forwards;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    padding: 35px 100px 0;
    position: absolute;
    width: 100%;
}
@keyframes fadein {
    100% {
        opacity: 1;
    }
}
header h2 {
    font-family: 'Quicksand', 'Arial', sans-serif;
}
header a {
    color: #ffffff;
}
header nav {
    display: flex;
    margin-right: -15px;
}
header nav li {
    margin: 0 15px;
}

/**********************************************
 HERO
**********************************************/
.hero {
    color: #ffffff;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    text-align: center;
}
.hero .background-image {
    background-color:#fafafa;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.hero h1 {
    font: bold 60px 'Open Sans', sans-serif;
    margin-bottom: 15px;
}
.hero h3 {
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
.hero a.btn {
    color: #ffffff;
    padding: 20px 40px;
}
.hero-content-area {
    animation: 1s slideup 1s forwards;
    margin-top: 100px;
    opacity: 0;
}
@keyframes slideup {
    100% {
        opacity: 1;
        margin: 0;
    }
}