/**********************************************
 GENERAL
**********************************************/
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
html {
    font: normal 16px sans-serif;
    color: #555555;
}
nav {
    list-style: none;
}
a {
    text-decoration: none;
    opacity: 0.75;
}
a:hover {
    opacity: 1;
}
a.btn {
    border-radius: 4px;
    background-color: #CF7D3E;
    font-weight: bold;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
}
section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
}
ul {
    list-style: none;
}
section:not(.hero):nth-child(even) {
    background-color: #f5f5f5;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
hr {
    background-color: #7abccf;
    border: 0;
    height: 3px;
    margin: 20px 0 40px;
    width: 250px;
}
section h3.title {
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}
section p {
    line-height: 2;
    max-width: 775px;
    padding: 20px;
    text-align: center;
}

/**********************************************
 HEADER
**********************************************/
header {
    align-items: center;
    animation: 1s fadein 0.5s forwards;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    padding: 35px 100px 0;
    position: absolute;
    width: 100%;
}
@keyframes fadein {
    100% {
        opacity: 1;
    }
}
header h2 {
    font-family: 'Quicksand', 'Arial', sans-serif;
}
header a {
    color: #ffffff;
}
header nav {
    display: flex;
    margin-right: -15px;
}
header nav li {
    margin: 0 15px;
}

/**********************************************
 HERO
**********************************************/
.hero {
    color: #ffffff;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    text-align: center;
}
.hero .background-image {
    background-color:#fafafa;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.hero h1 {
    font: bold 60px 'Open Sans', sans-serif;
    margin-bottom: 15px;
}
.hero h3 {
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
.hero a.btn {
    color: #ffffff;
    padding: 20px 40px;
}
.hero-content-area {
    animation: 1s slideup 1s forwards;
    margin-top: 100px;
    opacity: 0;
}
@keyframes slideup {
    100% {
        opacity: 1;
        margin: 0;
    }
}

/**********************************************
 DESTINATIONS
**********************************************/
.destinations .grid li {
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    height: 300px;
    padding: 10px;
}
.destinations .grid li.small {
    flex-basis: 30%;
}
.destinations .grid li.large {
    flex-basis: 70%;
}

/**********************************************
 PACKAGES
**********************************************/
.packages .grid li {
    flex-basis: 50%;
    padding: 25px 50px;
    text-align: center;
}
.packages .grid li .icon {
    height: 50px;
}
.packages .grid li h4 {
    font-size: 30px;
    margin: 25px 0;
}

/**********************************************
 TESTIMONIALS
**********************************************/
.testimonials .quote {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin: 40px 0 25px;
}

/**********************************************
 CONTACT
**********************************************/
.contact form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}
.contact form .btn {
    color: #ffffff;
    padding: 18px 42px;
}
.contact form input {
    color: #555555;
    flex: 1;
    font-size: 18px;
    margin-right: 30px;
    padding: 15px;
}

/**********************************************
 FOOTER
**********************************************/
footer {
    align-items: center;
    background-color: #7abccf;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
footer ul {
    display: flex;
}
footer ul li {
    margin-left: 16px;
}
footer p {
    align-self: center;
    font-size: 14px;
    opacity: 0.6;
    text-transform: uppercase;
}
footer p.copyright {
    font-size: 11px;
}
footer p a {
    color: #ffffff;
}
footer p.copyright a {
    color: #ffffff;
}